:root {
    --VeryLightGray: hsl(0, 0%, 98%); /*(Light Mode Background) lB*/
    --White: hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements) lNav*/
}

body {
    background-color: var(--VeryLightGray);
}

nav {
    background-color: var(--White);    
}

.filterRegion, .region {
    background-color: var(--White);
}

#theme {
    background-color: var(--White);
}
.region:hover {
    background-color: var(--VeryLightGray);
}

.detailed-info {
    background-color: var(--VeryLightGray);
}