@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
--DarkBlue: hsl(209, 23%, 22%); /*(Dark Mode Elements)*/
--DarkBlueOnHover: hsl(209, 23%, 50%);
--VeryDarkBlue: hsl(207, 26%, 17%); /*(Dark Mode Background)*/
--VeryDarkBlue:  hsl(200, 15%, 8%); /*(Light Mode Text)*/
--DarkGray: hsl(0, 0%, 52%); /*(Light Mode Input*/
--VeryLightGray: hsl(0, 0%, 98%); /*(Light Mode Background)*/
--White: hsl(0, 0%, 100%); /*(Dark Mode Text & Light Mode Elements)*/
}
.hidden {
    display: none !important;
}
h2 {
    color: var(--VeryDarkBlue);
    font-size: 2.5rem;
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--VeryLightGray);
    font-family: 'Nunito Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    padding: 0 80px;
    height: 65px;
    position: relative;
}
nav div {
    font-weight: 800;
    font-size: 22px;
    color: var(--VeryDarkBlue);
}
#theme {
    font-weight: 300;
    font-size: 16px;
    color: var(--VeryDarkBlue);
    background-color: var(--White);
    cursor: pointer;
    border: none;
}
.info-container {
    display: flex;
    height: 100px;
    background-color: var(--VeryLightGray);
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    margin: 30px 0;
}
#countrySearch {
    position: relative;
    background-color: var(--White);
    width: 300px;
    border-radius: 2px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--VeryDarkBlue);
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#searchIcon {
    position: absolute;
    z-index: 1;
    color: var(--VeryDarkBlue);
    font-size: 25px;
    left: 340px;
}
.filterRegion {
    position: relative;
    height: 50px;
    width: 150px;
    background-color: var(--White);
    border-radius: 2px;
    line-height: 50px;
    color: var(--VeryDarkBlue);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#toggleBtn {
    position: absolute;
    top: 20px;
    right: 12.5px;
    
}
.filterRegion.active #toggleBtn{
    transform: rotateX(180deg);
}
.region {
    display: block;
    background-color: var(--White);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.region:hover {
    background-color: var(--VeryLightGray);
}
.countries-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: var(--VeryLightGray);
    padding: 0 80px;
    flex-wrap: wrap;
}
.country {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: var(--White);
    margin: 0 30px 30px 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.flag {
    height: 200px;
    border-radius: 5px;
    width: 100%;
}
.countryName {
    font-size: 1.8rem;
    color: var(--VeryDarkBlue);
    margin: 15px 5px;
}

.country-info {
    color: var(--DarkBlue);
    font-weight: 300;
    font-size: 1.2rem;
}
.detailed-info {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: var(--VeryLightGray);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    display: flex;
}
.flagTwo {
    width: 550px;
    height: 400px;
}

.country-span-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:var(--VeryLightGray);
    width: 650px;
    height: 400px;
}

.countrySpan {
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--VeryDarkBlue);
    margin: 5px 15px;
    padding: 10px 5px;
    width: 30%;
}

.backbutton {
    background-color: var(--White);
    padding: 10px 30px;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
    top: 80px;
    left: 80px;
    z-index: 1;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.borderCountry {
    display: inline-block;
    margin: auto 5px;
    color: var(--DarkGray);
    font-weight: 700;
}
.border-container {
    position: absolute;
    bottom: 20%;
    font-weight: 800;
    font-size: 1rem;
    color: var(--VeryDarkBlue);
    margin: 5px 15px;
}
.countrySpanShort {
    display: block;
    margin: 10px 20px;
    font-size: 1.4rem;
    font-weight: 600;
}
.short-info {
    display: block;
}

@media(max-width: 650px) {
    .info-container {
        display: block;
    }
    #countrySearch {
        margin-bottom: 20px;
    }
    .detailed-info, .country-span-container {
        display: block;
    }
    .country-span-container {
        width: 100%;
    }
    .flagTwo {
        width: 100%;
        height: 250px;
        margin-top: 50px;
    }
    .country-info, .countrySpan {
        display: inline-block;
        font-size: 0.8rem;
    }
    .backbutton {
        top: 0;
    }
    #searchIcon {
        transform: translateY(12.5px);
    }

}